save-exact=true
prefer-offline=true
cache-min=3600
engine-strict=true
# resolution-mode=highest
# shamefully-hoist=true
# node-linker=hoisted
# auto-install-peers=true
# shared-workspace-lockfile=true
# strict-peer-dependencies=true

# public-hoist-pattern[]=*lodash*
# public-hoist-pattern[]=*axios*
# public-hoist-pattern[]=*dayjs*
# public-hoist-pattern[]=*tailwind*
# public-hoist-pattern[]=*clsx*


; registry=https://registry.npmjs.org/
; //registry.npmjs.org/:_authToken=${NPM_TOKEN}